@use "../global-variables" as *;

.global-nav-bar {
  background: $dark-blue-2;

  .nav-link.active{
    border-bottom: 3px solid rgb(45, 204, 211);
  }

  .navbar-nav{
    align-items: center;
    height: 60px;
  }

  .nav-link{
    text-align: center;
  }
}